/* COLOR-IT-UP */
:root {
    --button-color: #2ABDA3;
    --background-color: #FFFFFF;
    --black: #111111;
}

/* CSS-RESET-SECTION  */
* {
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

    scrollbar-width: thin;
    scrollbar-color: rgba(105, 34, 227, 0.937) #101010;

    font-family: 'Roboto', sans-serif;
}

/* PAGE-LOADER-STYLE-SECTION */
.loader {
    position: fixed;
    top: 0;
    left:0;
    
    min-height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    transition: opacity 0.75s, visibility 0.75s;

    z-index: 1;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;

    border: 15px solid white;
    border-top-color: rgba(105, 34, 227, 0.937);
    border-radius: 50%;

    animation: pageLoading 0.75s ease infinite;
}


.loaderHidden {
    opacity: 0;
    visibility: hidden;
}

/* MAIN-CONTAINER */
#main-container {
    width: 100vw;
    min-height: 100vh;

    background: var(--background-color);
}

/* NAV-BAR-SECTION */
#main-container #nav-bar-section {
    width: 100vw;
    min-height: 11vh;

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: sticky;
    top: 0;

    background: white;

    z-index: 1;
}

#main-container #nav-bar-section .logo-header {
    font-weight: bold;
    font-size: clamp(1.2rem, 1.6vw, 1.9rem);

    background: -webkit-linear-gradient(180deg, #EF05D8, #00A0FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
}

#main-container #nav-bar-section .hamburger {
    display: none;
}

#main-container #nav-bar-section .nav-bar-menu ul {
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container #nav-bar-section .nav-bar-menu ul li a {
    text-decoration: none;
    color: #00A0FA;

    font-weight: bold;
    font-size: clamp(1rem, 1.1vw, 1.5rem);

    margin-inline: 10px;
    padding: 10px 25px;

    transition: color 0.3s ease;
}

#main-container #nav-bar-section .nav-bar-menu .sign-up-button {
    border: 1px solid #2ABDA3;
    border-radius: 10px;   
    color: white;

    background: #2ABDA3;

    transition: color 0.4s ease;
}

#main-container #nav-bar-section .nav-bar-menu .log-in-button {
    border: 1px solid #fda085;
    border-radius: 10px;
    color: white;

    padding: 10px 28px;
    background: #fda085;

    transition: color 0.4s ease;
}

/* INTRODUCTION-SECTION */
#introduction-section {
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;

    backface-visibility: hidden;
    animation: dropItDown 0.9s ease;
}

#introduction-section .intro-paragraph {
    font-size: clamp(0.6rem, 1vw, 2rem);

    margin: 50px 20px;
    color: grey;

    font-weight: bold;
}

#introduction-section .header span {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: clamp(2rem, 5vw, 6rem);
}

#introduction-section .header .special {
    background: -webkit-linear-gradient(180deg, #EF05D8, #00A0FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;

    margin-bottom: 30px;
}

#introduction-section .outro-paragraph {
    display: flex;
    align-items: center;

    flex-direction: column;

    color: grey;

    margin-bottom: 100px;

    font-weight: bold;
    font-size: clamp(0.6rem, 1vw, 2rem);
}

#introduction-section .header-image {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#introduction-section .header-image img {
   border-radius: 30px;
   margin-bottom: 90px;
}

/* EXPLORE-SECTION */
#explore {
    display: flex;
    align-items: center;
    flex-direction: column;

    backface-visibility: hidden;
    animation: dropItDown 1s ease;
}

#explore .explore-primary-text h1 {
    font-weight: normal;
    font-size: clamp(1.2rem, 2vw, 2.1rem);

    color: rgb(11, 163, 163);

    margin-bottom: 20px;
}

#explore .explore-main-text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#explore .explore-main-text h1 {
    font-weight: bold;
    font-size: clamp(2rem, 5vw, 6rem);
}

#explore .explore-main-text .special {
    background: -webkit-linear-gradient(180deg, #EF05D8, #00A0FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;

    margin-bottom: 20px;
}

#explore .explore-paragraph p {
    font-size: clamp(0.6rem, 1vw, 3rem);
    font-weight: bold;

    color: grey;

    margin-bottom: 20px;
}

#explore .explore-cards-container{
    width: 100vw;
    min-height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#explore .explore-cards-container .explore-cards {
    position: relative;
    width: 350px;
    height: 300px;

    margin-inline: 30px;
    border-radius: 20px;
}

#explore .explore-cards-container .explore-cards .transform-card {
    position: absolute;

    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

#explore .explore-cards-container .explore-cards .transform-card .card-front {
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(-229deg, #48c6ef, #6f86d6);
    border-radius: 20px;

    backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-weight: bold;
    font-size: clamp(1rem, 1.1vw, 1.8rem);
    color: white;
}

#explore .explore-cards-container .explore-cards .transform-card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;

    transform: rotateY(180deg);

    background: linear-gradient(-229deg, #f9d423, #ff4e50);
    color: black;

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-weight: bold;
    padding-inline: 20px;

}

/* FEATURES-SECTION */
#features {
    width: 100vw;
    min-height: 50vh;

    margin-top: 20px;
    margin-bottom: 30px;

    backface-visibility: hidden;
    animation: dropItDown 1.3s ease;

}

#features .first-half {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    text-align: center;
}

#features .first-half h1 {
    font-weight: bold;
    font-size: clamp(2rem, 5vw, 6rem);

    margin-bottom: 40px;
}

#features .first-half h1 .special {
    background: -webkit-linear-gradient(180deg, #EF05D8, #00A0FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;

}

#features .first-half p {
    font-size: clamp(0.6rem, 1vw, 3rem);
    font-weight: bold;
    
    color: grey;

    margin-bottom: 20px;
}

#features .first-half a {
    text-decoration: none;
    color: white;

    margin-bottom: 70px;

    font-weight: bold;
    font-size: clamp(1.5rem, 2.5vw, 3rem);

    border: 1.2px solid var(--button-color);
    border-radius: 45px;

    padding: 20px 40px;

    background: var(--button-color);

    transition: padding 0.5s ease;
}

#features .second-half {
    display: flex;
    align-items: center;
    justify-content: center;
}

#features .second-half .content {
    width: 50vw;
    min-height: 50vh;
}

#features .second-half .content .carrousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    
    gap: 1.2rem;

    overflow-y: auto;

    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

#features .second-half .content .carrousel-card {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    padding-inline: 60px;
}

#features .second-half .content .carrousel-card h1 {
    font-weight: bold;
    font-size: clamp(1.2rem, 3vw, 3.1rem);

    letter-spacing: 2px;

    margin-bottom: 40px;

    -webkit-text-stroke: 1.2px white;
    -webkit-text-fill-color: transparent;

    transition: -webkit-text-fill-color 0.4s ease;
}

#features .second-half .content .carrousel-card p {
    text-align: center;
    font-weight: bold;
    font-size: clamp(0.9rem, 1vw, 2rem);
}

#features .second-half .content .carrousel::-webkit-scrollbar {
    display: none;
}

#features .second-half .content .carrousel .carrousel-card {
    scroll-snap-align: center;
    border-radius: 30px;

    min-height: 400px;
    min-width: 1010px;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#features .second-half .content .carrousel .carrousel-card:nth-child(odd) {
    background: linear-gradient(-229deg, #fbd52d, #ef3a7b);
}

#features .second-half .content .carrousel .carrousel-card:nth-child(even){
    background: linear-gradient(-229deg, #48c6ef, #6f86d6);
}

/* MEDIA-QUERIES */
@media screen and (max-width:540px) {
    /* NAV-BAR-SECTION  */
    #main-container #nav-bar-section .hamburger {
        display: block;
        cursor: pointer;
    }

    #main-container #nav-bar-section .hamburger img {
        width: 30px;
    }

    #main-container #nav-bar-section .nav-bar-menu {
        height: 0vh;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;

        width: 100vw;
        background: white;
        overflow: hidden;

    }


    #main-container #nav-bar-section .nav-bar-menu.active {
        display: flex;
        align-items: center;
        justify-content: center;

        min-height: 100vh;
    }

    #main-container #nav-bar-section .nav-bar-menu.active ul {
        transition: all 0.7s ease;
        margin-top: 20px;
        opacity: 1;
    }

    #main-container #nav-bar-section .nav-bar-menu ul {
        display: block;
        width: fit-content;

        margin: 50px auto 0px auto;

        text-align: center;

        opacity: 0;
    }


    #main-container #nav-bar-section .nav-bar-menu ul li {
        margin-bottom: 100px;
    }

    
    #main-container #nav-bar-section .nav-bar-menu ul li a {
        font-weight: bold;
        font-size: 25px;
    }

    /* INTRODUCTION-SECTION */

    #introduction-section .intro-paragraph {
        margin: 20px 20px;
    }

    #introduction-section .outro-paragraph {
        margin-bottom: 60px;
    }

    #introduction-section .header-image img {
        width: 400px;
        margin-bottom: 40px;
    }

    /* EXPLORE-SECTION */
    #explore .explore-cards-container {
        flex-direction: column;
    }

    #explore .explore-cards-container .explore-cards {
        margin-inline: 0px;
        margin-bottom: 20px;

        backface-visibility: hidden;
        
        width: 300px;
        height: 150px;
    }

    #explore .explore-cards-container .explore-cards .transform-card .card-back {
        font-size: 18px;
    }

    /* FEATURES-SECTION */
    #features {
        flex-direction: column;
    }

    #features .second-half .content {
        width: 85vw;
        min-height: 20vh;
    }

    #features .second-half .content .carrousel .carrousel-card {
        min-height: 250px;
        min-width: 350px;
    }
}

@media screen and (width:1920px) {
    /* FEATURES-SECTION  */
    #features .second-half .content {
        width: 50vw;
    }

    #features .second-half .content .carrousel .carrousel-card {
        min-height: 400px;
        min-width: 950px;
    }
}

@media screen and (width:1366px) {
    /* INTRODUCTION-SECTION */
    #introduction-section .header-image img {
        width: 850px;
    }

    /* EXPLORE-SECTION */
    #explore .explore-cards-container .explore-cards {
        width: 270px;
        height: 200px;
    }

    /* FEATURES-SECTION */
    #features .second-half .content {
        width: 66vw;
    }

    #features .second-half .content .carrousel .carrousel-card {
        width: 100px;
        min-width: 900px;
    }
}

/* FOOTER-SECTION */
#footer {
    min-height: 10vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

#footer img {
    width: 50px;
}

/* HOVER-EFFECTS */
#main-container #nav-bar-section .nav-bar-menu .sign-up-button:hover {
    color: black;
    cursor: pointer;
}

#main-container #nav-bar-section .nav-bar-menu .log-in-button:hover {
    color: black;
    cursor: pointer;
}

#main-container #nav-bar-section .nav-bar-menu ul li a:hover {
    color: grey;
    cursor: pointer;
}


#explore .explore-cards-container .explore-cards .transform-card:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

#features .first-half a:hover {
    padding: 20px 90px;
}

#features .second-half .content .carrousel-card h1:hover {
    cursor: pointer;
    -webkit-text-fill-color: white;
}


/* ANIMATIONS */
@keyframes dropItDown {
    0% {
        opacity: 0;
        transform: translateY(-120px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes pageLoading {
    from { 
        transform: rotate(0turn);
    } to { 
        transform: rotate(1turn);
    }
}

/* HORIZONTAL-RULE */
#break-it-up {
    display: block;
    margin: auto;

    width: 70%;
    border: 1.2px solid rgba(105, 34, 227, 0.937);
    border-radius: 50%;
}