/* CSS-RESET-SECTION  */

* {
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: 'Roboto', sans-serif;
}

/* PAGE-LOADER-STYLE-SECTION */
.loader {
    position: fixed;
    top: 0;
    left:0;
    
    min-height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    transition: opacity 0.75s, visibility 0.75s;

    z-index: 1;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;

    border: 15px solid white;
    border-top-color: rgba(105, 34, 227, 0.937);
    border-radius: 50%;

    animation: pageLoading 0.75s ease infinite;
}


.loaderHidden {
    opacity: 0;
    visibility: hidden;
}

/* LOGIN-CONTAINER */
#login-container {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#login-container h1 {
    font-weight: bold;
    font-size: clamp(1.5rem, 3vw, 4rem);

    background: -webkit-linear-gradient(180deg, #EF05D8, #00A0FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
}

/* SIGNUP-CONTAINER */
#signup-container {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#signup-container h1 {
    font-weight: bold;
    font-size: clamp(1.5rem, 3vw, 4rem);

    background: -webkit-linear-gradient(180deg, #EF05D8, #00A0FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
}