<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> ECHO | FEATURES </title>

    <!-- CSS-LINK-SECTION -->
    <link rel="stylesheet" href="features-style.css">

    <!-- GOOGLE-FONTS-LINK-SECTION  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- FAVICON-LINK-SECTION  -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/Echo-Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/Echo-Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/Echo-Favicon/favicon-16x16.png">
    <link rel="manifest" href="../../favicon/Echo-Favicon/site.webmanifest">
    
</head>
<body>
    <main>
        <!-- PRELOADER-SECTION -->
        <div class="loader"></div>

        <section id="features-container">
            <!-- NAV-BAR-SECTION -->
            <section id="nav-bar-section">

                <div class="logo-header">
                    <h1> ECHO </h1>
                </div>

                <div class="hamburger">
                    <img src="/resources/hamburger_menu_icon.png" alt="Hamburger_menu_icon">
                </div>

                <nav class="nav-bar-menu">
                    <ul>
                        <li> <a href="../../index.html"> HOME </a> </li>
                        <li> <a href="../../views/aboutus_page/about-us.html"> ABOUTUS </a> </li>
                        <li> <a href="/views/contact_page/contact.html"> CONTACT </a> </li>
                        <li> <a href="/views/signup_page/signup.html" class="sign-up-button"> SIGN-UP </a> </li>
                        <li> <a href="/views/login_page/login.html" class="log-in-button"> LOG - IN </a> </li>
                    </ul>
                </nav>

            </section>
        </section>
    </main>

    <!-- JAVASCRIPT-LINK-SECTION -->
    <script type="text/javascript" src="../../scripts/loader.js"></script>
    <script type="text/javascript" src="../../scripts/hamburger.js"></script>
</body>
</html>