<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> ECHO | ABOUT US </title>

    <!-- CSS-LINK-SECTION -->
    <link rel="stylesheet" href="about-us-style.css">

    <!-- GOOGLE-FONTS-LINK-SECTION  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- FAVICON-LINK-SECTION  -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/Echo-Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/Echo-Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/Echo-Favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/Echo-Favicon/site.webmanifest">
    
</head>
<body>
    <main>
        <!-- PRELOADER-SECTION -->
        <div class="loader"></div>

        <section id="about-us-container">
            <!-- NAV-BAR-SECTION -->
            <section id="nav-bar-section">

                <div class="logo-header">
                    <h1> ECHO </h1>
                </div>

                <div class="hamburger">
                    <img src="/resources/hamburger_menu_icon.png" alt="Hamburger_menu_icon">
                </div>

                <nav class="nav-bar-menu">
                    <ul>
                        <li> <a href="../../index.html"> HOME </a> </li>
                        <li> <a href="/views/features_page/features.html"> FEATURES </a> </li>
                        <li> <a href="/views/contact_page/contact.html"> CONTACT </a> </li>
                        <li> <a href="/views/signup_page/signup.html" class="sign-up-button"> SIGN-UP </a> </li>
                        <li> <a href="/views/login_page/login.html" class="log-in-button"> LOG - IN </a> </li>
                    </ul>
                </nav>

            </section>


            <!-- ABOUT-US-HEADER-SECTION -->
            <section id="aboutus-header">
                <div class="primary-text">
                    <h1> LET'S INTRODUCE YOU TO OUR TEAM </h1>
                </div>

                <div class="main-text">
                    <h1> WHO ARE WE ? </h1> 
                    <h1> THE STORY BEHIND </h1>
                    <h1 class="special"> ECHO </h1>
                </div>

                <div class="aboutus-paragraph">
                    <p> This application as you see and would use is a collaborative work </p>
                    
                    <p> Yes we a student of BANKURA SAMMINALI COLLEGE <br> COMPUTER SCIENCE(H) department. </p>

                    <p> Work across the carrousel and know us right here </p>
                </div>
            </section>

            <!-- CREW-CAROUSEL-CARD -->
            <section id="crew-members">
                <div class="crew-member-image">
                    <img src="../../resources/SubhajitKarmakar.jpg">
                    
                    <div class="overlay"></div>
                    <div class="crew-member-description">
                        <h3> SUBHAJIT KARMAKAR </h3>
    
                        <hr class="horizontal-rule">
    
                        <p></p>
                    </div>
                </div>
    
                <div class="crew-member-image">
                    <img src="../../resources/SoumikHembram.jpg">
    
                    <div class="overlay"></div>
                    <div class="crew-member-description">
                        <h3> SOUMIK HEMBRAM </h3>
                        
                        <hr class="horizontal-rule">
    
                        <p></p>
                    </div>
                </div>
    
                <div class="crew-member-image">
                    <img src="../../resources/SubrotoKar.jpg">
    
                    <div class="overlay"></div>
                    <div class="crew-member-description">
                        <h3> SUBROTO KAR </h3>
    
                        <hr class="horizontal-rule">
    
                        <p></p>
                    </div>
                </div>
    
                <div class="crew-member-image">
                    <img src="../../resources/SuvajitKarmakar.jpg">
    
                    <div class="overlay"></div>
                    <div class="crew-member-description">
                        <h3> SUVAJIT KARMAKAR </h3>
                        
                        <hr class="horizontal-rule">
    
                        <p></p>
                    </div>
                </div>

                <div class="crew-member-image">
                    <img src="../../resources/ArjunKarmakar.jpg">
                    
                    <div class="overlay"></div>
                    <div class="crew-member-description">
                        <h3> ARJUN KARMAKAR </h3>
    
                        <hr class="horizontal-rule">
    
                        <p></p>
                    </div>
                </div>

                <div class="crew-member-image">
                    <img src="../../resources/TukaiGhosh.jpg">
                    
                    <div class="overlay"></div>
                    <div class="crew-member-description">
                        <h3> TUKAI GHOSH </h3>
    
                        <hr class="horizontal-rule">
    
                        <p></p>
                    </div>
                </div>

                <div class="crew-member-image">
                    <img src="../../resources/RontiDev.jpg">
                    
                    <div class="overlay"></div>
                    <div class="crew-member-description">
                        <h3> RONTIDEV </h3>
    
                        <hr class="horizontal-rule">
    
                        <p></p>
                    </div>
                </div>

                <div class="crew-member-image">
                    <img src="../../resources/RanaBagdi.jpg">
                    
                    <div class="overlay"></div>
                    <div class="crew-member-description">
                        <h3> RANA BAGDI </h3>
    
                        <hr class="horizontal-rule">
    
                        <p></p>
                    </div>
                </div>
            </section>

            <!-- HORIZONTAL-LINE-BREAK -->
            <hr id="break-it-up">

            <!-- FOOTER-SECTION -->
            <section id="footer">
                <img src="/favicon/Echo-Favicon/android-chrome-192x192.png" alt="footer_image_echo">
            </section>
        </section>
    </main>

    <!-- JAVASCRIPT-LINK-SECTION -->
    <script type="text/javascript" src="../../scripts/loader.js"></script>
    <script type="text/javascript" src="../../scripts/hamburger.js"></script>
</body>
</html>